html{
    background-color: #162c33;
}

.calc-box, .user-area
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

.mistake-area {
    display:flex; 
    justify-content: center;
    gap: 30px;
}

.mistake-area button {
    flex-basis: 40%;
    padding: 0 1em;
}

.calc-body{
    display: flex;
    flex-direction: column;
}

.user-area{
    margin: 2em 0;
    gap: 10px;
    flex-basis: 75%;
}

.calc-body{
    background-color: #000000;
    border-radius: 12px;
    height: 40em;
}

.calc-display{
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    height: 6em;
    padding: 1em;
    background-color: #c8c8c8;
    border-radius: 8px;
}

.calc-result{
    align-self: flex-end;
    font-size: 40px;
}

.calc-function, .calc-result {
    text-align: right;
    flex-basis: 100%;
    color: #000000;
    font-family: 'Orbitron', sans-serif;
}

button {
    font-size: 30px;
    flex-basis: 20%;
    color: #edbc28;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    background-color: #000000;
    transition-duration: 0.4s;
    border: none;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    background-color: #161515;
}
